main {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.hello {
    position: relative;
    width: 100%;
    background-color: #000;
    font-family: 'green screen';
    top: -6vh;
}

.hello span {
    font-size: 100px;
    margin: 0 50px;
    white-space: nowrap;
    color: #000;
    -webkit-text-stroke: 1px #505050;
}

.hello li {
    position: relative;
    transition: transform 0.2s linear;
    --parallax-x: 0px;
    --parallax-y: 0px;
    transform: translate(var(--parallax-x)) var(--parallax-y));
}

@keyframes titleFadeIn {
    from {
        opacity: 0;
        text-shadow:
            0 0 5px  #ffffffcc,
            0 0 10px #ffffff80,
            0 0 50px #ffffff9a;
    }
    to {
        opacity: 1;
        text-shadow:
            0 0 5px  #ffffff,
            0 0 10px #ffffff,
            0 0 50px #ffffff;
    }
}

@keyframes titleFadeIn2 {
    from {
        opacity: 1;
        text-shadow:
            0 0 5px  #ffffff,
            0 0 10px #ffffff,
            0 0 50px #ffffff;
    }
    to {
        opacity: 1;
        text-shadow:
            0 0 5px  #ffffffcc,
            0 0 10px #ffffff80,
            0 0 50px #ffffff9a;
    }
}

.hello ul li:nth-child(5) span:nth-child(2) {
    display: inline-block;
    color: #fff;
    -webkit-text-stroke: 0px !important;
    text-shadow:
        0 0 5px  #ffffffcc,
        0 0 10px #ffffff80,
        0 0 50px #ffffff9a;
    filter: blur(0) !important;
    animation:
        titleFadeIn 1.2s cubic-bezier(1.00, 0.01, 1.00, 0.23),
        titleFadeIn2 1.5s ease-out 1.2s;
    --counter-x: 0px;
    --counter-y: 0px;
    transform: translate(var(--counter-x), var(--counter-y));
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px) translate(var(--parallax-x), var(--parallax-y));
    }
    to {
        opacity: 1;
        transform: translateX(0px) translate(var(--parallax-x), var(--parallax-y));
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px) translate(var(--parallax-x), var(--parallax-y));
    }
    to {
        opacity: 1;
        transform: translateX(0px) translate(var(--parallax-x), var(--parallax-y));
    }
}

.hello ul li:nth-child(odd):not(:nth-child(5)) {
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    animation-name: slideInLeft;
}

.hello ul li:nth-child(even) {
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    animation-name: slideInRight;
}

.hello ul li:nth-child(5) {
    white-space: nowrap;
    animation: none;
    opacity: 1;
}

.hello > ul > li:nth-child(5) > span:not(:nth-child(2)) {
    display: inline-block;
    filter: blur(1px);
    -webkit-text-stroke: 1px #404040;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    animation-name: slideInLeft;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 0.6;
        transform: translateY(0);
    }
}

a.more_btn {
    position: fixed;
    bottom: 32px;
    left: 32px;
    padding: 10px 15px 15px 20px;
    line-height: 32px;
    font-size: 32px;
    text-align: right;
    box-shadow:
        0 0 0 1px #fff,
        0 0 5px  #ffffffcc,
        0 0 10px #ffffff80,
        0 0 50px #ffffff37;
    border: 1px solid #000;
    z-index: 999;
    animation: fadeInUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

a.more_btn:hover {
    border-radius: 28px;
    color: #000 !important;
    background: #fff;
    border: 1px solid #000;
    opacity: 1 !important;
    box-shadow:
        0 0 0 1px #fff,
        0 0 5px  #ffffffcc,
        0 0 10px #ffffff80,
        0 0 50px #ffffff9a;
}

.more_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #333;
    background-color: #fff;
    z-index: 100;
    clip-path: circle(0% at 104.758px 821.5px);
}

.more_page {
    position: absolute;
}

.more_page h1 {
    font-size: 100px;
}

.more_menu > li >a{
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

@keyframes cursorAnimation {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#more_info {
    font-size: 20px;
}

#more_info_content {
    display: inline-block;
}

#more_info_content::after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: -4px;
    height: 20px;
    width: 2px;
    background-color: #000;
    border-radius: 0.5px;
    animation: 1s cubic-bezier(0.00, 1.00, 0.00, 1.00) 1.5s infinite cursorAnimation;
}