:root {
    --sans-font: var(--font-rubik), var(--font-opposans), sans-serif;
    --serif-font: serif;
    --mono-font: var(--font-mono), monospace;
    --pixel-font: var(--font-pixel-dos), var(--font-pixel-7), monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s;
  scroll-behavior: smooth;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

body {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  background-color: black;
}

::selection {
  background-color: rgba(255, 255, 255, 0.063);
}

li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

button {
  cursor: pointer
}

a {
  text-decoration: none;
  color: #fff;
}

a.style {
  color: rgb(255, 154, 162);
  padding: 0 10px;
  transition: .5s;
}

a.style::after {
  content: " ➜";
}

a.style:hover {
  color: #ffffff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button,
input {
  border: 0; 
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #0c0c0c;
  font-size: 18px;
  font-family: var(--sans-font);
  color: rgb(255, 255, 255);
}

.hide,
.none {
  display: none
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  zoom: 1
}

@font-face {
  font-family: segoe fluent icons;
  src: url('../fonts/SegoeIcons.ttf');
}